<%- include('./partials/header.ejs') %>

<body>
<%- include('./partials/navbar.ejs') %>
    <div class="container col-md-8">
        <h1> Perguntas </h1>
        
        <% perguntas.forEach(pergunta=>{ %>
            <div class="card">
                 <div class="card-body">
                    <h2><strong><%= pergunta.titulo %></strong></h2><%= pergunta.createdAt %>
                </div>
                <div class="card-footer">
                    <button class="btn btn-outline-dark">Perguntar</button>
                </div>
            </div>
        <% }) %>
    </div>
</body>
<%- include('./partials/footer.ejs') %>